.container {
  display: grid;
  background-image: url(/indexpic.png);
  width: 100vw;
  height: 100vh;
  padding: 8%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: space-between;
  justify-content: center;
}
.form {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-row-gap: 0.5em;
  padding-bottom: 5%;
}

.form input {
  border-radius: 0.8rem;
  color: var(--primary-text);
  padding: 0.4rem;
  outline: none;
  border: none;
}
.form input[type="submit"] {
  font-weight: bold;
  background: linear-gradient(180deg, #0bc717 0%, #2a7903 100%);
  box-shadow: inset 0 0 2px 1px hsla(0, 0%, 0%, 0.5),
    inset 0 3px 2px 0.1px hsla(124, 90%, 41%),
    inset 0 -3px 10px 5px hsla(0, 0%, 0%, 0.25),
    inset 0 20px 50px -25px hsla(125, 82%, 34%, 0.5),
    2px 1px 3px hsla(0, 0%, 0%, 0.25);
}
.form input[type="submit"]:hover,
.form input[type="submit"]:focus {
  box-shadow: inset 0 0 3px 1px hsla(0, 0%, 0%, 0.5),
    inset 0 3px 2px rgb(9, 153, 19), inset 0 -3px 10px 5px hsla(0, 0%, 0%, 0.25),
    inset 0 20px 50px -25px hsla(125, 82%, 34%, 0.5),
    2px 1px 3px hsla(0, 0%, 0%, 0.25);
  position: relative;
  color: #e0ffe2;
  top: 0;
}
.form input[type="submit"]:active {
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 0%, 0.5);
  top: 0;
}
.logo {
  max-width: 90vw;
}
