.container {
  background-image: url(/indexpic.png);
  width: 100vw;
  height: 100vh;
  padding: 15%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: space-between;
  justify-content: center;
}
.form {
  display: grid;
}
