.container div {
  height: 400px;
  width: 200px;
  animation: sprite 1.5s steps(4) 1;
  animation-play-state: running;
}
.residual {
  background: url(/canresidual.png);
}
.recycle {
  background: url(/canrecycling.png);
}
.paper {
  background: url(/canpaper.png);
}
@keyframes sprite {
  to {
    background-position: -880px;
  }
}
