.container {
  background-image: url(/gamehgpic.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: space-between;
  justify-content: center;
}
.fields {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
.container .fields {
  width: 100%;
  padding: 33% 45% 10% 20%;
}
