:root {
  --background-color: #2d2e30;
  --primary-text: #fff;
  --secondary-text: #cff8d2;
  --tertiary-flow-text: #818181;
  --tertiary-list-text: #16c821;
  --tertiary-text: #000;
  --primary-button: #0bc717;
  --secondary-button: #0e7401;
  --tertiary-button: #81e187;
  --tertiary-button-bg: #bcffc0;
  --primary-font-size: 1em;
  --secondary-font-size: 0.8em;
  --button-font-style: bold;
  --input-font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background-color);
  color: var(--primary-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
