.display {
  width: 94%;
  position: fixed;
  top: 2rem;
  left: 2%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
